@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

$themecolor: rgba(123,152,64,1);

body {
    h1 {
        font-family: $font-family-header;
        color: #3c4824;
    }
    h2 {
        font-family: $font-family-header;
        color: #3c4824;
    }
    h3 {
        font-family: $font-family-header;
        color: #3c4824;
    }
    h4 {
        font-family: $font-family-header;
        color: #3c4824;
        line-height: 1.3em;
    }
    h5 {
    }
    h6 {
    }
    p, address, li, label, td {
    }
    small, .metadata {
    }
    label {
    }
    li {
    }
    .mainContent {
        ul, ol {
            padding-left: 40px;
        }
    }
    table {
    }
    thead {
        td {
        }
    }
    td {
    }
    a {
        color: #3c4824;
        text-decoration: underline;
        @include transition(color .25s, background .5s);
        &:hover {
            color: $themecolor;
        }
    }
    i, em {
        font-style: italic;
    }
    strong, b {
        font-weight: bold;
    }
    hr {
    }
    .mainContent form .field {
        @extend .form-group;
    }
    .mainContent input[type=text],
    .mainContent input[type=tel],
    .mainContent input[type=email],
    .mainContent input[type=url],
    .mainContent input[type=password],
    .mainContent input.hasDatepicker,
    .mainContent textarea {
        @extend .form-control;
        width: 50%;
        &:focus {
        }
        @media screen and (max-width: $grid-float-breakpoint-max) {
            width: 100%;
        }
    }
    select {
        &:focus {
        }
    }
    .radioPair {
        @extend p;
        input[type=radio] {
            position: relative;
            &:after {
            }
            &:checked {
                &:after {
                }
            }
        }
    }
    .checkboxPair {
        @extend p;
        input[type=checkbox] {
            position: relative;
            &:after {
            }
            &:checked {
                &:after {
                }
            }
        }
    }
    input[type=submit], input[type=button] {
        &:focus {
            outline: none;
        }
    }
    .ccm-required, .required {
        color: rgba(237,28,36,1);
    }
    .themecolor {
        color: $themecolor;
    }
    .img-responsive {
        @media screen and (max-width: $screen-sm-min) {
            width: 100%;
            margin: 0 auto;
        }
    }
}
header {
    background: #7b9840;
    color: #ffffff;
    margin: 30px 0 27px;
    .navbar {
        margin-bottom: 0;
        .navbar-brand {
            height: inherit;
            line-height: 66px;
            padding: 0 15px;
            h1 {
                font-family: "itc_blair", $font-family-header;
                margin: 0;
                line-height: 66px;
                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
        .navbar-toggle {
            border-color: #ffffff;
            margin-top: 16px;
            .icon-bar {
                background: #ffffff;
            }
        }
        .nav {
            margin-top: 8px;
            li {
                margin-left: 10px;
                a {
                    font-family: $font-family-header;
                    font-size: 18px;
                    text-transform: uppercase;
                    background: #cad6b3;
                    color: #7b9840;
                    padding-bottom: 12px;
                    text-decoration: none;
                    &.active, &:hover, &.nav-path-selected {
                        background: #ffffff;
                    }
                }
                &.dropdown-toggle:hover > .dropdown-menu {
                    display: block;
                }
                &:hover a {
                    background: #ffffff;
                }
                .dropdown-menu {
                    padding: 0;
                    border: none;
                    li {
                        margin: 0;
                        a {
                            background: #ffffff;
                            padding-top: 12px;
                            &:hover, &.nav-selected, &.nav-path-selected {
                                background: $themecolor;
                                color: #ffffff;
                            }
                        }
                        &:last-child {
                            display: block;
                        }
                    }
                }
                @media screen and (max-width: $grid-float-breakpoint-max) {
                    margin: 0;
                }
            }
            @media screen and (max-width: $grid-float-breakpoint-max) {
                margin: 0 -15px;
            }
        }
    }
}
.trunk {
    .mainContent {
        background: rgba(255,255,255,.8);
        padding: 1px 20px 11px;
    }
    .award-list {
        .nav {
            padding: 0;
            font-family: $font-family-header;
            text-transform: uppercase;
            margin-top: 24px;
            float: right;
            li {
                background: #cad6b3;
                margin-right: 9px;
                a {
                    padding: 5px;
                    color: $themecolor;
                    text-decoration: none;
                    &:hover, &.nav-selected {
                        background: $themecolor;
                        color: #ffffff;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .award-feed {
           .background {
               background: #ffffff;
               overflow: auto;
               margin: 10px 0;
               padding: 10px 0;
               @include transition(box-shadow .5s);
               h3 {

               }
               h5 {
                   text-transform: uppercase;
                   color: $themecolor;
               }
               .view-details {
                   position: absolute;
                   bottom: 10px;
                   right: 15px;
                   padding: 5px 10px;
                   margin: 0;
                   background: $themecolor;
                   a {
                       color: #ffffff;
                       font-family: $font-family-header;
                       text-decoration: none;
                       text-transform: uppercase;
                   }
               }
               &:hover {
                   @include box-shadow(0px 0px 5px rgba(0,0,0,.75));
               }
           }
        }
    }
    .award {
        background: rgba(255,255,255,.8);
        padding: 1px 20px 11px;
        h3 {
            text-align: center;
            img {
                margin: 20px auto 0;
            }
        }
        &:hover {
            margin-top: -5px;
        }
    }
}
footer {
    margin-top: 30px;
    margin-bottom: 40px;
    .row {
        border-top: 3px dotted rgba(60,72,36,.7);
        padding: 10px 0 0;
        .footerNav, .copy {
            color: #ffffff;
            font-family: $font-family-header;
            padding-top: 15px;
            padding-bottom: 15px;
            p {
                margin: 0;
            }
            a {
                color: #ffffff;
                text-decoration: underline;
                &:hover {
                    color: $themecolor;
                    background: transparent;
                }
            }
        }
        .footerNav {
            .nav {
                li {
                    margin-right: 20px;
                    a {
                        padding: 0;
                    }
                }
            }
        }
        .copy {
            text-align: right;
        }
    }
}
